.budget-element-space{
    padding-right: 15px; 
    padding-top: 10px;               
}

.budget-button-padding{    
    padding-left: 15px;    
    padding-bottom: 20px;
}

.top-padding{
    padding-top: 10px;
}

.card-header-style{
    background-color: #DCDCDC;
}

.on-surface{
    background: #F0F8FF;
    transition: 400ms;
}

.off-surface{
    background: #DCDCDC;
    transition: 400ms;
}

/*.overlay {    
    background-color: black(0,0,0,0.5); /* Black background with opacity 
}*/