.budget-element-space{
    padding-right: 15px; 
    padding-top: 10px;               
}

.budget-button-padding{    
    padding-left: 15px;    
    padding-bottom: 20px;
}

.top-padding{
    padding-top: 10px;
}