.unique-budget-table{
    width: 100%;
}

table, tr, th{
    border: 1px solid black;
    border-collapse: collapse;    
}

tr, td {
    padding: 5px;
    text-align: left;
    border: 1px solid black;
}

.table-header-title{
    text-align: center;
    font-size: medium; 
    font-family: monospace;     
    font-size: large;    
}

#incomeAddButton, #incomeEditButton, #incomeRemoveButton{
    visibility: visible;    
    font-size: 1.8em;    
}

#expenseAddButton, #expenseEditButton,  #expenseRemoveButton{
    visibility: visible;    
    font-size: 1.8em;
}

#cancelButton, #saveButton{
    margin-left: .5em;
    margin-top: .5em;
    width: 7.5em;    

}