.bugdet-details{
    background-color: beige;
}

.detail-nav{
    background-color: black;
    padding-top: 10px;
    padding-bottom: 10px;
    
}

.detail-nav > div > ul > li{
    width: auto;
    height: 38px;
}

.detail-nav > div > ul > li > h5{
    font-weight: bold;
    color: white;
    text-align: justify;
    vertical-align: middle;    
    padding: 7px 7px 7px 7px;
    border-radius: 5px;
    background-color: #424441;    
    margin-left: 10px;
}

.detail-nav > div > ul > li > h5:hover{
    background-color: dimgrey;
}

.details-box{
    padding: 10px 10px 10px 10px;
    margin-left: 10px;
}

.description-box{
    background-color: aliceblue;
    height: 100px;
    width: 300px;
    border-radius: 10px;
}

.card-header-custom{
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 3px;
    padding-right: 3px;
    width: auto;
    height: 130px;
}

.title-totals{
    font-weight: bold;
}

.header-col-font{
    font-size: 10px;
}

.unique-budget-table{
    width: 100%;
}

.addbutton {        
    background-color:wheat;        
}

.addbutton-icon{
    font-size: 10px;
    color: black;
}


table, tr, th{
    border: 1px solid black;
    border-collapse: collapse;    
}

tr, td {
    padding: 5px;
    text-align: left;
    border: 1px solid black;
}

.table-header-title{
    text-align: center;
    font-size: medium; 
    font-family: monospace;     
    font-size: large;    
}

#incomeAddButton, #incomeRemoveButton{
    display: none;    
    font-size: 1.8em;    
}

#expenseAddButton,   #expenseRemoveButton{
    display: none;
    font-size: 1.8em;
}

#expenseEditButton, #incomeEditButton{
    visibility: visible;
    font-size: 1.8em;
}

.remove-button-cell{
    visibility: hidden;
}

#CancelButton, #SaveButton{
    margin-left: .5em;
    margin-top: .5em;
    width: 10.5em;    
    display: none;
}

#editButton{
    margin-left: .5em;
    margin-top: .5em;
    margin-bottom: .5em;
}