.unique-budget-table{
    width: 100%;
}

table, tr, th{
    border: 1px solid black;
    border-collapse: collapse;    
}

tr, td {
    padding: 5px;
    text-align: left;
    border: 1px solid black;
}

.table-header-title{
    text-align: center;
    font-size: medium; 
    font-family: monospace;     
    font-size: large;    
}

#incomeAddButton, #incomeRemoveButton{
    display: none;    
    font-size: 1.8em;    
}

#expenseAddButton,   #expenseRemoveButton{
    display: none;
    font-size: 1.8em;
}

#expenseEditButton, #incomeEditButton{
    visibility: visible;
    font-size: 1.8em;
}

#CancelButton, #SaveButton{
    margin-left: .5em;
    margin-top: .5em;
    width: 7.5em;    
    display: none;
}

#editButton{
    margin-left: .5em;
    margin-top: .5em;
    margin-bottom: .5em;
}