{% extends 'layout.html' %}
{% block content %}

{% include 'create_budget_modal.html' %}

<div>
  <h2>My Budgets</h2>  
    {% for budget in budgets  %}    
      <div class="card" style="width: 18rem;">
        <div class="card-header">
          {{ budget.title }}
        </div>
        <div class="card-body">

        </div>
        <div class="card-footer">

        </div>
      </div>    
      <br>
    {% endfor %}  
  <button type="button" class="btn btn-primary" data-toggle="modal"  aria-pressed="true" data-target="#newBudget" data-title="Budget">
    New Budget
  </button>
</div>
<script type='text/javascript' src='../static/js/budget.js'></script>
{% endblock %}