<header>
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
        <ul class="navbar-nav">
            {% for link in nav %}
            <li class="nav-item active">
                <a class="nav-link" href="{{ link.url }}">{{ link.name }}</a>
            </li>
            {% endfor %}                 
        </ul>
            {% if current_user.is_anonymous %}
                <a class="" href={{ url_for('login') }}>Login</a>
            {% else %}
                <a class="" href={{ url_for('logout') }}>Logout</a>
            {% endif %}
    </nav>
</header>