{% extends 'layout.html' %}
{% block content %}
    <link rel="stylesheet" type="text/css" href="../static/css/transactions.css">
    <div class="transactions_section">
        <div class="budgets_selection_bar">
            <label>Budget:</label> 
            <select name="budget_list" id="budget_list"> 
                <option value={{current_budget.id}}>{{current_budget.title}}</option>
                {% for budget in budgetsList %} 
                    {% if current_budget_id == budget.id %}
                        <option value="{{budget.id}}" selected >{{budget.title}}</option>
                    {% else %}
                        <option value="{{budget.id}}">{{budget.title}}</option>
                    {% endif %}
                {% endfor %}
            </select>            
        </div>
        <div class="row">
            <div class="col">
                <div id="expense_transaction_table_space" class="table-space">
                <div>
                    <h1>Expenses</h1>                             
                </div>
                <div id="expense_transaction_edit_bar" class="transaction_edit_table_bar">
                    <button id="add_expense_transaction" class="btn btn-primary btn-sm">Add</button>
                    <button id="cancel_expense_transaction" class="btn btn-danger btn-sm">Cancel</button>
                </div>
                    <table id="expense_table" class="table table-striped table-bordered expense_transaction_table">
                        <thead class="thead-dark">
                            <tr>
                                <th class="table-header-title">Date</th>
                                <th class="table-header-title">Amount</th>
                                <th class="table-header-title">Description</th>
                                <th class="table-header-title">Category</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for transaction in expenseTransactions %}
                                <tr id="expenses_transaction_row_{{loop.index - 1}}">
                                    <td id="expenses_transaction_date_{{loop.index-1}}" contenteditable="false">{{ transaction.date_created.strftime("%d-%m-%Y") }}</td>
                                    <td id="expenses_transaction_amount_{{loop.index-1}}" contenteditable="false">{{ transaction.amount }}</td>
                                    <td id="expenses_transaction_description_{{loop.index-1}}" contenteditable="false">{{ transaction.description }}</td>
                                    <td id="expenses_transaction_category_{{loop.index-1}}" contenteditable="false">{{ transaction.category }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col">
                <div id="income_transaction_table_space" class="table-space">
                <h1>Income</h1>
                <div id="income_transaction_edit_bar" class="transaction_edit_table_bar">
                    <button id="add_income_transaction" class="btn btn-primary btn-sm">Add</button>
                    <button id="cancel_income_transaction" class="btn btn-danger btn-sm">Cancel</button>
                </div>  
                    <table id="income_table" class="table table-striped table-bordered income_transaction_table">
                        <thead class="thead-dark">                    
                            <tr>
                                <th class="table-header-title">Date</th>
                                <th class="table-header-title">Amount</th>
                                <th class="table-header-title">Description</th>
                                <th class="table-header-title">Category</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for transaction in incomeTransactions %}
                                <tr id="income_transaction_row_{{loop.index - 1}}">
                                    <td id="income_transaction_date_{{loop.index-1}}">{{ transaction.date_created.strftime("%d-%m-%Y") }}</td>
                                    <td id="income_transaction_amount_{{loop.index-1}}">{{ transaction.amount }}</td>
                                    <td id="income_transaction_description{{loop.index-1}}">{{ transaction.description }}</td>
                                    <td id="income_transaction_category{{loop.index-1}}">{{ transaction.category }}</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    <script type='text/javascript' src='../static/js/transactions.js'></script>
{% endblock %}