{% extends 'layout.html' %}
{% block content %}
    <div class="transactions_section">
        <div>
            <form>
                <label>Budget:</label> 
                <select name="budget_list" id="budget_list">                
                    {% for budget in budgetsList %}        
                        <option value="{{budget.user_id}}">{{budget.title}}</option>
                    {% endfor %}
                </select>
            </form>
        </div>
        <div class="row">
            <div class="col-6 expenses">
                <h1>Expenses</h1>
                <table class="expense_transaction_table">
                    <tr>
                        <th class="table-header-title">Date</th>
                        <th class="table-header-title">Amount</th>
                        <th class="table-header-title">Description</th>
                        <th class="table-header-title">Category</th>
                    </tr>
                </table>
            </div>
            <div class=" col-6 income">
                <h1>Income</h1>
                <table class="income_transaction_table">
                    <tr>
                        <th class="table-header-title">Date</th>
                        <th class="table-header-title">Amount</th>
                        <th class="table-header-title">Description</th>
                        <th class="table-header-title">Category</th>
                    </tr>
                </table>
            </div>
        </div>        
    </div>
{% endblock %}