{% extends 'layout.html' %}
{% block content %}
<link rel="stylesheet" type="text/css" href="../static/css/unique_budget.css">


    <div class="navbar detail-nav navbar-expand navbar-dark flex-column flex-md-row bd-navbar">
        <div class="navbar-nav-scroll">
            <ul class="navbar-nav bd-navbar-nav flex-row">
                <li class="nav-item">
                    <h5>{{budget.title}}</h5>
                </li>
            </ul>
        </div>

    </div>


    <div class="bugdet-details">
        
            <div class="row">
                <div class="col">                    
                    <div class="row details-box">                
                        <div class="col-2">                    
                            <div>
                                <label><strong>Description</strong></label>
                                <p class="description-box">  {{ budget.description }}</p>                         
                            </div>                            
                        </div>
                        <div class="clear-fix"></div>
                        <div class ="col-3">                            
                            <div> 
                                <h5 class="title-totals">Total Expenses</h5>
                                <p><label><strong>Total Planned Amount:</strong></label> {{ budget.total_expenses_planned_amount }}</p>
                                <p><label><strong>Total Actual Amount:</strong></label>  {{ budget.total_expenses_actual_amount }}</p>
                            </div>  
                        </div>
                        <div class="col-2">                            
                            <div> 
                                <h5 class="title-totals">Total Income</h5>
                                <p><label><strong>Total Planned Amount</strong></label>  {{ budget.total_income_planned_amount }}</p>                                                        
                                <p><label><strong>Total Actual Amount</strong></label> {{ budget.total_income_actual_amount }}</p>
                            </div>
                        </div>
                    </div>                
            </div>            
        </div>
    </div>

    <div class="card">        
    <div class="card-body">
        <div class="container tables-box">
            <div class="">
                <div class="d-flex justify-content-end">                    
                    <button id="editButton" type="button"  class="btn btn-success" value="0" onclick="toggle_button_visibility()">Edit</button>                            
                </div>
                <div class="row">
                    <div class="col">   
                        <div class="row">
                        <table class="unique-budget-table table" id="expenseTable"> 
                            <thead>
                                <tr class="table-header"> 
                                    <th class="table-header-title" colspan="4">Expense</th>                                    
                                </tr>     
                                <tr>
                                    {% for title in titles %}
                                        <th>{{title}}</th>
                                    {% endfor %}
                                    <th class="addbutton-cell">                                         
                                            <a role="button" id="expenseAddButton" class="btn float-right addbutton" onclick="create_newrow('expense')">
                                                <i class="fas fa-plus addbutton-icon"></i>
                                            </a>                                        
                                    </th>
                                </tr>
                            </thead>   
                            <tbody>
                                {% for expense in budget.budget_items.expense %}
                                    <tr id="expenseRow_{{loop.index - 1}}"> 
                                        <td id="expense_name_{{loop.index - 1}}" contenteditable="false">{{expense.name}}</td>
                                        <td id="expense_planned_amount_{{loop.index - 1}}" contenteditable="false" onkeypress="return isNumberKey(event)">{{expense.planned_amount}}</td>
                                        <td id="expense_actual_amount_{{loop.index - 1}}" >{{expense.actual_amount}}</td>                    
                                        <td id="expense_difference_{{loop.index - 1}}">{{expense.planned_amount - expense.actual_amount }}</td>
                                        <td id="remove_button_expense{{loop.index - 1}}" class="remove-button-cell">                                            
                                                <a role="button" class="btn btn-danger remove-button" onclick="remove_row('expenseRow_{{loop.index - 1}}')">
                                                    <i class="fas fa-trash-alt remove-button-icon"></i>
                                                </a>
                                        </td>
                                    </tr>           
                                {% endfor %}                    
                            </tbody>
                        </table>
                    </div>
                    </div> 
                    <div class="col">          
                        <div class="row">
                        <table class="unique-budget-table table" id="incomeTable"> 
                            <thead>
                                <tr class="table-header"> 
                                    <th class="table-header-title" colspan="4">Income</th>                                     
                                </tr>     
                                <tr>
                                    {% for title in titles %}
                                        <th>{{title}}</th>
                                    {% endfor %}
                                    <th class="addbutton-cell">                                         
                                            <a role="button" id="incomeAddButton" class="btn float-right addbutton" onclick="create_newrow('income')"><i class="fas fa-plus addbutton-icon"></i></a>                                        
                                    </th>
                                </tr>  
                            </thead>   
                            <tbody>
                                {% for income in budget.budget_items.income %}
                                    <tr id="incomeRow_{{loop.index - 1}}">
                                        <td id="income_name_{{loop.index - 1}}" contenteditable="false">{{income.name}}</td>
                                        <td id="income_planned_amount_{{loop.index - 1}}" contenteditable="false" onkeypress="return isNumberKey(event)">{{income.planned_amount}}</td>
                                        <td id="income_actual_amount_{{loop.index - 1}}">{{income.actual_amount}}</td>                   
                                        <td id="income_difference_{{loop.index - 1}}">{{income.planned_amount - income.actual_amount}}</td>
                                        <td id="remove_button_expense{{loop.index - 1}}" class="remove-button-cell " >                                            
                                                <a role="button" class="btn btn-danger remove-button" onclick="remove_row('incomeRow_{{loop.index - 1}}')">
                                                    <i class="fas fa-trash-alt remove-button-icon" ></i>
                                                </a>                                            
                                        </td>
                                    </tr>           
                                {% endfor %}                    
                            </tbody>
                        </table>    
                    </div>                                                        
                    </div>   
                </div>
                <div class="row">
                    <div class="col"> 
                        <div class="d-flex justify-content-center">
                            <button id="SaveButton" type="button" class="btn btn-primary" >Save</button>                            
                            <button id="CancelButton" type="button" class="btn btn-secondary" >Cancel</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type='text/javascript' src='../static/js/unique_budget.js'></script>
{% endblock %}