{% extends 'layout.html' %}
{% block content %}
<link rel="stylesheet" type="text/css" href="../static/css/unique_budget.css">

<div class="card">
    <div class="card-header">
        <div class="container">                        
            <div class="row">
                <div class="col">
                    <h4><strong>{{ budget.title }}</strong></h4>
                </div>
            </div>
            <div class="row">                
                <div class="col">                    
                    <div>                         
                        <label><strong>Description</strong></label>
                        <p>  {{ budget.description }}</p>
                    </div>
                    <div>
                        <label><strong>Date Created</strong></label>
                            <p> {{ budget.date_created }} </p>
                    </div>
                </div>
                <div class ="col">
                    <h5>Total Expenses</h5>
                    <div> 
                        <label><strong>Total Planned Amount</strong></label>
                        <p>  {{ budget.total_expenses_planned_amount }}</p>
                    </div>
                    <div> 
                        <label><strong>Total Actual Amount</strong></label>
                        <p>  {{ budget.total_expenses_actual_amount }}</p>
                    </div>                
                </div>
                <div class="col">
                    <h5>Total Income</h5>
                    <div> 
                        <label><strong>Total Planned Amount</strong></label>
                        <p>  {{ budget.total_income_planned_amount }}</p>
                    </div>
                    <div> 
                        <label><strong>Total Actual Amount</strong></label>
                        <p>  {{ budget.total_income_actual_amount }}</p>
                    </div>
                </div>
            </div>            
        </div>
    </div>
    <div class="card-body">
        <div class="container tables-box">
            <div class="">
                <div class="d-flex justify-content-end">                    
                    <button id="editButton" type="button"  class="btn btn-success" value="0" onclick="toggle_button_visibility()">Edit</button>                            
                </div>
                <div class="row">
                    <div class="col">                          
                        <button id="expenseRemoveButton" type="button" class="btn float-right" onclick="remove_lastrow('expense')">
                            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-file-minus" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" d="M4 1h8a2 2 0 0 1 2 2v10a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2zm0 1a1 1 0 0 0-1 1v10a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1V3a1 1 0 0 0-1-1H4z"/>
                                <path fill-rule="evenodd" d="M5.5 8a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 0 1H6a.5.5 0 0 1-.5-.5z"/>
                            </svg>
                        </button>                        
                        <button id="expenseAddButton" type="button" class="btn float-right" onclick="create_newrow('expense')">
                            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-file-plus" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" d="M4 1h8a2 2 0 0 1 2 2v10a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2zm0 1a1 1 0 0 0-1 1v10a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1V3a1 1 0 0 0-1-1H4z"/>
                                <path fill-rule="evenodd" d="M8 5.5a.5.5 0 0 1 .5.5v1.5H10a.5.5 0 0 1 0 1H8.5V10a.5.5 0 0 1-1 0V8.5H6a.5.5 0 0 1 0-1h1.5V6a.5.5 0 0 1 .5-.5z"/>
                            </svg>
                        </button>
                        <table class="unique-budget-table" id="expenseTable"> 
                            <tread>
                                <tr class="table-header"> 
                                    <th class="table-header-title" colspan="4">Expense</th>
                                </tr>     
                                <tr>
                                    {% for title in titles %}
                                        <th>{{title}}</th>
                                    {% endfor %}
                                </tr>  
                            </tread>   
                            <tbody>
                                {% for expense in budget.budget_items.expense %}
                                    <tr id="expenseRow_{{loop.index - 1}}">                    
                                        <td id="expense_name_{{loop.index - 1}}" contenteditable="false">{{expense.name}}</td>
                                        <td id="expense_planned_amount_{{loop.index - 1}}" contenteditable="false" onkeypress="return isNumberKey(event)">{{expense.planned_amount}}</td>
                                        <td id="expense_actual_amount_{{loop.index - 1}}" >{{expense.actual_amount}}</td>                    
                                        <td id="expense_difference_{{loop.index - 1}}">{{expense.planned_amount - expense.actual_amount }}</td>
                                    </tr>           
                                {% endfor %}                    
                            </tbody>
                        </table>
                    </div> 
                    <div class="col">                                                
                        <button id="incomeRemoveButton" type="button" class="btn float-right" onclick="remove_lastrow('income')">
                            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-file-minus" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" d="M4 1h8a2 2 0 0 1 2 2v10a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2zm0 1a1 1 0 0 0-1 1v10a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1V3a1 1 0 0 0-1-1H4z"/>
                                <path fill-rule="evenodd" d="M5.5 8a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 0 1H6a.5.5 0 0 1-.5-.5z"/>
                            </svg>
                        </button>
                        <button id="incomeAddButton" type="button" class="btn float-right" onclick="create_newrow('income')">
                            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-file-plus" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd" d="M4 1h8a2 2 0 0 1 2 2v10a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2zm0 1a1 1 0 0 0-1 1v10a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1V3a1 1 0 0 0-1-1H4z"/>
                                <path fill-rule="evenodd" d="M8 5.5a.5.5 0 0 1 .5.5v1.5H10a.5.5 0 0 1 0 1H8.5V10a.5.5 0 0 1-1 0V8.5H6a.5.5 0 0 1 0-1h1.5V6a.5.5 0 0 1 .5-.5z"/>
                            </svg>
                        </button>                        
                        <table class="unique-budget-table" id="incomeTable"> 
                            <tread>
                                <tr class="table-header"> 
                                    <th class="table-header-title" colspan="4">Income</th> 
                                </tr>     
                                <tr>
                                    {% for title in titles %}
                                        <th>{{title}}</th>
                                    {% endfor %}
                                </tr>  
                            </tread>   
                            <tbody>
                                {% for income in budget.budget_items.income %}
                                    <tr id="incomeRow_{{loop.index - 1}}">
                                        <td id="income_name_{{loop.index - 1}}" contenteditable="false">{{income.name}}</td>
                                        <td id="income_planned_amount_{{loop.index - 1}}" contenteditable="false" onkeypress="return isNumberKey(event)">{{income.planned_amount}}</td>
                                        <td id="income_actual_amount_{{loop.index - 1}}">{{income.actual_amount}}</td>                   
                                        <td id="income_difference_{{loop.index - 1}}">{{income.planned_amount - income.actual_amount}}</td>
                                    </tr>           
                                {% endfor %}                    
                            </tbody>
                        </table>                        
                    </div>   
                </div>
                <div class="row">
                    <div class="col"> 
                        <div class="d-flex justify-content-center">
                            <button id="SaveButton" type="button" class="btn btn-primary" >Save</button>                            
                            <button id="CancelButton" type="button" class="btn btn-secondary" >Cancel</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type='text/javascript' src='../static/js/unique_budget.js'></script>
<script src="https://cdn.jsdelivr.net/gh/gitbrent/bootstrap4-toggle@3.6.1/js/bootstrap4-toggle.min.js"></script>
{% endblock %}